<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>vue hello</title>
</head>
<body>
  
 <div id="app">

    <h1> {{messaggio}} </h1>
    <input type="text" class="form-control" v-model="messaggio">
    <input type="text" class="form-control" v-model="miaClasseCss">

    <h1 :class="miaClasseCss"> {{messaggio}} </h1>

    <h3> {{altromessaggio}} {{nome}} {{eta}} </h3>
    
    <div v-html="testoHtml" > 

    </div>
     <img :src="imgPath" alt="">
    <!-- <a :href="link" target="_blank"> clicca qui {{nome}} </a> -->

    <button @click ="incrementoContatore"> {{contatore}} </button>

 </div>


  <script src="script.js"></script>
</body>
</html>